/*savary.css*/
html,body{
	width:100%;
	font-size:1em;
	margin:0;
	padding:0;
	min-width:325px;
	font-family:'MuseoSans', Corbel, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-image:url(../img/gplaypattern.png)
}
h1,h2,h3,h4,h5,h6{
	font-family:'MuseoSans',serif;
}
ul{
	list-style:none
}

/*HEADER*/
#header{
	background-color:#dc6060;
	padding:10px 0;
	color:white;
	position:relative
}
@media only screen and (min-width: 48em){
	#header > .row{
		max-width:70em
	}
}
#header h4, #header h5, #header h6, #header a{
	font-family:'MuseoSlab',serif;
	font-weight:100;
	color:white;
	margin:0
}
#header a:hover{
	color:white;
	text-decoration:underline
}
#header h4{line-height:1em;}
#header .right-menu{padding-left:0;padding-right:0;text-align:right}
.search-wrap{top:-3px;margin-bottom:0}
.search-wrap input{
	-webkit-border-radius:50px 0 0 50px;
 	 -khtml-border-radius:50px 0 0 50px;
	   -moz-border-radius:50px 0 0 50px;
		 -o-border-radius:50px 0 0 50px;
			border-radius:50px 0 0 50px;
	height:2em;
	margin:0;
}
.search-wrap button{
	-webkit-border-radius:0 50px 50px 0;
 	 -khtml-border-radius:0 50px 50px 0;
	   -moz-border-radius:0 50px 50px 0;
		 -o-border-radius:0 50px 50px 0;
			border-radius:0 50px 50px 0;
	border:none;
	background-color:#df9898;
	color:white;
	font-family:'MuseoSlab', serif;
	font-size:1em;
	font-weight:100;
	padding:0.28em 0 !important;
	margin:0
}
.login-button{
	padding:.2em 1em;
}
.login-button.active{
	background-color:#E88484;
}
.login-form {
	background-color:#E88484;
	position:absolute;
	top:100%;
	right:0.9375em;
	padding:2em 1em 1em;
	display:none;
	z-index:5
}
.login-form button{color:#dc6060;background-color:white;border:1px solid #eeeeee;padding:5px 15px}
.login-form button:hover{text-decoration:underline}
.login-form label{color:white;font-weight:300}

/*HOME*/
/*top featured post*/
.home-sliding-image{
	padding:20px 0;
	position:relative;
	background: url(../img/testimage_1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
}

.featured-story{font-size:1.5em}
.featured-story h2,.featured-story h4, .featured-story h4 a{
	font-weight:100;
	line-height:1em;
	color:white;
}
.featured-story h2{
	margin:40px 0 0;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.featured-story h4{
	font-size:1.2em;
	/*text-shadow: -1px -1px 0 #aaaaaa,
				  1px -1px 0 #aaaaaa,
				 -1px  1px 0 #aaaaaa,
				  1px  1px 0 #aaaaaa;*/
}

.home-search-wrap{
	background-color:#ffffff;
	padding:20px 0 40px
}
.home-search-wrap h3{
	font-family:'MuseoSlab', serif;
	font-weight:900;
	font-size:1.2em;
	color:#51cabd
}
.home-search-wrap input{
	-webkit-border-radius:5px 0 0 5px;
 	 -khtml-border-radius:5px 0 0 5px;
	   -moz-border-radius:5px 0 0 5px;
		 -o-border-radius:5px 0 0 5px;
			border-radius:5px 0 0 5px;
	height:3em;
	margin:0
}
.home-search-wrap button{
	-webkit-border-radius:0 5px 5px 0;
 	 -khtml-border-radius:0 5px 5px 0;
	   -moz-border-radius:0 5px 5px 0;
		 -o-border-radius:0 5px 5px 0;
			border-radius:0 5px 5px 0;
	border:none;
	background-color:#51cabd;
	color:white;
	font-family:'MuseoSlab', serif;
	font-size:1.2em;
	font-weight:100;
	padding:0.48em 0 !important;
	margin:0
}
.home-search-wrap p{
	margin-top:5px;
	font-size:.7em;
	color:#51cabd
}
.home-search-wrap .top-post-header{
	width:102%;
	padding:10px 0;
	background-color:#f2c821;
	color:white;
	font-family:'Century Gothic', Corbel, sans-serif;
	font-size:1.5em;
	font-weight:300;
	text-align:center;
	position:relative;
	left:-1%
}
.featured-stories.row{
	margin-left:0;
	margin-right:0
}
.featured-stories > li{
	background-color:#f9f9f9;
	margin-bottom:10px;
	padding-bottom:10px;
	min-height:50px;
	-webkit-border-radius:3px;
 	 -khtml-border-radius:3px;
	   -moz-border-radius:3px;
		 -o-border-radius:3px;
			border-radius:3px
}
.featured-stories h4{
	font-size:.8em;
	font-weight:300;
	color:#eb9605
}

/*latest stories*/
.title-bg{
	background-color:white;
	-webkit-box-shadow:0 1px 10px #dddddd;
	   -moz-box-shadow:0 1px 10px #dddddd;
	     -o-box-shadow:0 1px 10px #dddddd;
			box-shadow:0 1px 10px #dddddd
}
.latest-story-title{
	text-transform:uppercase;
	font-family:'MuseoSlab',serif;
	font-weight:500;
	color:#dc6060;
	margin:0;
	padding:10px 20px 5px;
}

/*PARTNERS + FOOTER*/
#partners{
	background-color:#f7e776;
	padding:1.5em 0 2em
}
#partners ul{
	margin:2em auto;text-align:center
}
#partners li .partner-logo{
	background-color:#f1f1f1;
	display:inline-block;
	width:180px;
	height:180px;
	-webkit-border-radius:180px;
 	 -khtml-border-radius:180px;
	   -moz-border-radius:180px;
		 -o-border-radius:180px;
			border-radius:180px
}

#footer{
	z-index:100;
	position:relative;
	background-color:#303135;
	color:white;
	padding-top:100px;
	padding-bottom:40px;
}
#footer p,#footer ul li{
	font-weight:300;
	padding:0 30px
}
#footer a{color:white}
#footer a:hover{
	color:white;
	text-decoration:underline
}
#footer h3,#partners h3{
	color:white;
	font-family:'MuseoSlab', serif;
	text-transform:uppercase;
	font-weight:100;
	font-size:1.5em
}
#footer h3 b,#partners h3 b{
	font-weight:700
}
#partners h3{color:black}
#footer .minicircle{
	background-color:#2d2d2e;
	width:20px;height:20px;padding:5px;
	display:inline-block;
	position:relative;
	left:-10px;top:5px;
	-webkit-border-radius:20px;
 	 -khtml-border-radius:20px;
	   -moz-border-radius:20px;
		 -o-border-radius:20px;
			border-radius:20px
}

/*DASHBOARD*/

/*sidebar*/
#sidebar{
	background:#fff;
	top:55px;
	position:relative;
	padding:10px 0
}
#sidebar .profile{font-family:'MuseoSans', Corbel, sans-serif}
#sidebar .profile .left{
	border-right:1px solid #ddd;
	padding-left:35px
}
#sidebar .left img{
	margin:auto;
	width:85px;
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom:10px
}

#back-bar{
	width:100px;
	height:20px;
	background: #eee;
	border:1px solid #;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	left:7px;
	margin-top:5px;
	margin-bottom:7px;
}
#post-bar{
	width:55%;
	height:20px;
	background: #aaa;
	border:1px solid #;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
}

#sidebar .profile .right{
	margin-top:20px
}
#sidebar .profile .right img{
	margin-top:15px;
	width:50px;
	border:1px solid #;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-bottom:15px
}
#sidebar .profile ul{
	margin: 5px 0 0 8px
}
#sidebar .menu{
	font-family: 'MuseoSlab', Corbel;
	font-size: 1.3em;
	margin-top:30px;
	margin-bottom:0
}

#sidebar .menu li{
	border-top: 1px solid #eee;
	color: #dc6060;
	padding:5px 20px;	
}

#sidebar .menu .selected{
	background: #dc6060;
	color:#fff;	
}

#sidebar .menu .sub{
	font-family: 'MuseoSans', Corbel;
	font-size: 0.7em;
	color: #888;
	padding-left:40px;
	background: #f5f5f5
}
#sidebar .menu,#story-content .story-sections{
	font-family: 'MuseoSlab', Corbel;
	font-size: 1.3em;
	margin-top:30px
}
#sidebar .menu li,#story-content .story-sections li{
	border-top: 1px solid #eee;
	color: #dc6060;
	padding:5px 20px;	
}

#sidebar .menu .selected,#story-content .story-sections .selected{
	background: #dc6060;
	color:#fff;	
}

#sidebar .menu .sub{
	font-family: 'MuseoSans', Corbel;
	font-size: 0.7em;
	color: #888;
	padding-left:40px;
	background: #f5f5f5
}
#sidebar .menu .sub.selected{
	color: #fff;
	background: #dc6060
}
#sidebar .addpost{
	margin: 5px 5px
}
#sidebar .addpost .subtitle{
	margin-top: 10px;
	font-size: 0.9em
}
#sidebar .addpost button{
	margin-top:15px;
	padding:5px 15px;
	width: 7em;
	color:white;
	background: #555;
	border:none;
	display:inline-block;
}
#sidebar .addpost input[type="text"]{
	background: #f8f8f8;
	border: none;
	margin: 5px 0;
	font-size:0.7em;
	height:3em;
	padding: 0 10px;
}
#sidebar .addpost input[type="text"].small{
	width: 10.5em;
}
#sidebar .addpost .btn-orange{
	background:#fda31d
}

/*main content*/
#main-content{
	min-height: 600px;
	padding-left: 35px;
}

#post{
	padding-top: 35px;
	padding-left: 35px;
	min-height: 600px
}

#post .bordered-menu li:first-child{
	padding-right: 10px
}

#post .bordered-menu li + li{
	border-left: 1px solid #000;
	padding: 0 10px
}

#post .horizontal-menu li{
	float:left;
	font-size:0.9em;
	margin-bottom:7px;
	padding: 0 4px
}

#post .horizontal-menu li a{
	color: #f8cb82;
	cursor: pointer
}

#post  .horizontal-menu li .selected{
	color: #000;
}

#post .header  button{
	height:35px;
	width:40px;
	background: #555;
	border:none;
	display:inline-block
}

#post .header  input{
	background: #ccc;
	border:none;
	position:relative;
	height:35px;
	width:230px;
	display:inline-block
}

#post table{
	font-family: MuseoSans, Corbel;
}

#post table th{
	background: #dc6060;
	color:#fff;
	padding-left:20px
}

#post table td{
	padding: 10px 20px;
	vertical-align:top
}

#post tbody td img{
	width:65px;
	border:1px solid #;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom:5px
}
#post tbody td .date{
	color:#aaa;
	margin-bottom:5px;
	margin-top:15px
}
#post tbody td .menu li{
	float:left;
	padding:0 10px
}
#post tbody td .menu li+li{
	border-left: 1px solid #aaa;
	padding:0 10px
}
#post tbody td a{
	color:#aaa;
	cursor:pointer
}

#post tbody td h5,#post tbody td h6 {
	margin-bottom:0;
	margin-top:0
}
#post tbody .list-content {
	line-height:1.3
}
#post tbody .list-content li{
	float:left;
	margin-right:5px;
	font-size:0.9em
}
#post tbody .list-content li a{
	color:#000;
}
#post tbody .list-content li a:hover{
	color:#ddd;
}
#post .top-menu li {
	background: #fda31d;
	width:20%;
	text-align:center;
	height:50px;
	color: white;
	padding-top: 13px;
	margin-bottom: 20px;
	cursor:pointer
}
#post .top-menu li a{color:#fff}
#post .top-menu li:target {
	background: #88847f;
}
#post .top-menu li.selected, #post .top-menu li.selected:hover {
	background: #88847f;
}
#post .top-menu li:hover{
	background: #aaaaaa;
}
#post .top-menu li .arrow-down {
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-top: 0 solid #88847f;
}
#post .top-menu li.selected .arrow-down{
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #88847f;
	position:relative;
	left:35%;
	top:5px
}

/*STORY DETAILS*/
#story-content{margin:60px auto}
#writer-sidebar{
	background:#fff;
	top:55px;
	position:relative;
	padding:0;
	padding-bottom:2.5em;
	-webkit-box-shadow:0 0 10px #dddddd;
	   -moz-box-shadow:0 0 10px #dddddd;
	     -o-box-shadow:0 0 10px #dddddd;
			box-shadow:0 0 10px #dddddd
}
#writer-sidebar .section-header{
	padding:2px 0;
	margin-top:0;
	font-weight:100;
	font-family:'MuseoSlab',serif;
	text-align:center;
	text-transform:uppercase;
	color:white
}
#writer-sidebar .writer-profile h5{
	margin-bottom:0;
}
#writer-sidebar .writer-profile img{
	margin:1em auto .5em;
	-webkit-border-radius: 20px;
	 -khtml-border-radius: 20px;
	   -moz-border-radius: 20px;
	     -o-border-radius: 20px;
			border-radius: 20px;
}
#writer-sidebar button{
	border:0;
	color:white;
	margin:.3em auto
}
#writer-sidebar button.follow{
	padding:3px 7px;
	-webkit-border-radius: 20px;
	 -khtml-border-radius: 20px;
	   -moz-border-radius: 20px;
	     -o-border-radius: 20px;
			border-radius: 20px
}
#writer-sidebar button.wishlist{
	padding:3px 0;
	-webkit-border-radius: 5px;
	 -khtml-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
			border-radius: 5px
}
#writer-sidebar .badges{
	border:1px solid #cccccc;
	border-left:0;border-right:0;
	margin:1em 0 0.05em;
	padding:.5em 0;
	position:relative
}
#writer-sidebar .badges li,#writer-sidebar .tags li{
	padding-left:0.1em;
	padding-right:0.1em;
	margin:.2em auto;
	text-align:center
}
#writer-sidebar .tags{
	font-size:.8em
}
#writer-sidebar .tags span{
	background-color:#dc6060;
	color:white;
	width:92.5%;
	margin:0 3.75%;
	padding:.2em .1em;
	display:inline-block;
	text-align:center;
	-webkit-border-radius: 10px;
	 -khtml-border-radius: 10px;
	   -moz-border-radius: 10px;
	     -o-border-radius: 10px;
			border-radius: 10px;
}
#writer-sidebar .tosca{background-color:#51cabd}
#writer-sidebar .orange{background-color:#ffb746}
#story-content h1, #story-content h2, #story-content h3, #story-content h4, #story-content h5, #story-content h6{
	font-family:'MuseoSlab',serif;font-weight:300
}
#story-content h1{font-size:3.5em;line-height:1.15em;margin:0;margin-bottom:.5em}
#story-content .main-image{
	background-color:white;
	padding:.5em;
	-webkit-box-shadow:0 0 10px #dddddd;
	   -moz-box-shadow:0 0 10px #dddddd;
	     -o-box-shadow:0 0 10px #dddddd;
			box-shadow:0 0 10px #dddddd
}
#story-content .social-share ul{
	border:1px solid #cccccc;
	height:300px;
	width:90%;
	margin:0 auto
}
#story-content ul li{display:inline-block}
#story-content h2,#story-content h3{
	text-transform:uppercase;text-align:center;
	font-size:2em;
	color:#ffffff;
	background-color:#dc6060;
	margin:0 auto;
	padding:3px 0;
	position:relative;z-index:5
}
#story-content h2.comment{background-color:#ffb746}
#story-content h2 b{font-weight:700}
#story-content h3{font-size:1.3em;font-weight:100;text-align:left;padding-left:20px}
#story-content .story-wrapper{
	background-color:#ffffff;
	padding:3em 1em;
	margin:0;
	-webkit-box-shadow:0 0 10px #dddddd;
	   -moz-box-shadow:0 0 10px #dddddd;
	     -o-box-shadow:0 0 10px #dddddd;
			box-shadow:0 0 10px #dddddd
}
#story-content p{font-weight:300;font-size:.9em}
#story-content .story-sections li{
	border-top:0;
	background-color:#f5f5f5;
	font-weight:300;
	text-align:center;
	padding-left:0;
	padding-right:0
}
#story-content .story-sections li + li{
	border-left:1px solid #eeeeee;
}
#story-content .selected-photo{margin:2em auto 1em}
#story-content .timeline,#story-content .pictures{font-family:'MuseoSlab',serif;font-size:.8em;position:relative;margin-bottom:2em}
#story-content .timeline ul,#story-content .timeline li{margin-bottom:.5em;padding-left:0;padding-right:0}
#story-content .timeline li .time{background-color:#efaa6c;color:white;padding:3px .5em;text-align:center}
#story-content .timeline li div{padding-right:.2em;padding-left:.2em}

#story-content .pictures li,#story-content .pictures li img{padding-left:0;padding-right:0}

/*=====ENTIRE SITE=====*/
/*STORIES*/
.stories{margin:10px 0 40px}
.stories > li{margin:40px 0 1.5em;/*hack sementara*/height:550px}
.stories .wrapper{
	background-color:#fcfcfc;
	position:relative;
	padding:20px 10px 0;
	margin-bottom:0;
}
.stories h3{
	color:#dc6060;
	font-weight:300;
	line-height:1em;
	margin-bottom:0
}
.stories .date{
	text-transform:uppercase;
	font-size:.7em;
	color:#b4b4b4;
	position:absolute;
	top:20px;right:10px
}
.stories .author{
	font-size:.8em;
	color:#dc6060;
	position:relative;
	left:1.2em;
	font-weight:100
}
.stories .author a{color:#dc6060;}
.stories .picture{
	margin:2em 0;
	width:230px;
	height:230px;
	overflow:hidden;
	position:relative;
	display:inline-block;
	-webkit-border-radius:230px;
 	 -khtml-border-radius:230px;
	   -moz-border-radius:230px;
		 -o-border-radius:230px;
			border-radius:230px;
	-webkit-box-shadow:0 0 3px #aaaaaa;
 	 -khtml-box-shadow:0 0 3px #aaaaaa;
	   -moz-box-shadow:0 0 3px #aaaaaa;
		 -o-box-shadow:0 0 3px #aaaaaa;
			box-shadow:0 0 3px #aaaaaa;
}
.stories .picture img{
	position:absolute;
	width:500px;
	left:50%;
	top:0;
	margin-left:-250px;
	max-width:none
}
.stories p{
	font-size:.7em;
	font-family:"Century Gothic",Corbel,sans-serif
}
.stories .elements-info{
	background-color:#f7e776;
	padding:0;
	margin:0;
	text-align:center
}
.stories .elements-info li{
	width:30px;
	height:30px;
	margin:5px 2px;
	display:inline-block
}
.stories .elements-info .story{background:url(../img/element-s.png) no-repeat center center}
.stories .elements-info .timeline{background:url(../img/element-t.png) no-repeat center center}
.stories .elements-info .budgeting{background:url(../img/element-b.png) no-repeat center center}
.stories .elements-info .homestay{background:url(../img/element-h.png) no-repeat center center}
.stories .elements-info .additional{background:url(../img/element-a.png) no-repeat center center}

/*TAGS*/
.element-label,.tag-label{padding:0;margin:0}
.element-label li,.tag-label li{
	color:white;
	font-size:.7em;
	font-weight:100;
	padding:1px 5px;
	display:inline-block;
	margin:1px 2px;
	text-transform:uppercase;
	cursor:pointer
}
.element-label li{
	text-transform:lowercase;
	-webkit-border-radius:3px;
 	 -khtml-border-radius:3px;
	   -moz-border-radius:3px;
		 -o-border-radius:3px;
			border-radius:3px
}
.element-label .story{background-color:#dc6060}
.element-label .timeline{background-color:#f2c821}
.element-label .budgeting{background-color:#fe883a}
.element-label .homestay{background-color:#c4df98}
.element-label .additional{background-color:#51cabd}
.tag-label .nature{background-color:#b1d5e9}
.tag-label .mount{background-color:#f3d718}
.tag-label .city{background-color:#c3de97}
.nav-buttons img,.nav-buttons li{cursor:pointer;display:inline-block}

/*UTILITIES*/
.clear{clear:both}
.center-align{text-align:center}
.left-align{text-align:left}
.right-align{text-align:right}
.full-width{width:100%}
.visible-overflow{overflow:visible}
.slight-overlay{
	background:rgba(0,0,0,.2);
	position:absolute;
	top:0;bottom:0;left:0;right:0;
}
.h8{font-size:0.8em}
.h9{font-size:0.6em}

.stories {
	margin:0;
}