@font-face {
    font-family: 'MuseoSans';
    src: url('MuseoSans/Museo_Sans.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/Museo_Sans.woff') format('woff'),
         url('MuseoSans/Museo_Sans.otf') format('opentype'),
         url('MuseoSans/Museo_Sans.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSans';
    src: url('MuseoSans/Museo_Sans_100.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/Museo_Sans_100.otf') format('opentype');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSans';
    src: url('MuseoSans/Museo_Sans_300.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/Museo_Sans_300.otf') format('opentype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSans';
    src: url('MuseoSans/Museo_Sans_700.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/Museo_Sans_700.otf') format('opentype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSans';
    src: url('MuseoSans/Museo_Sans_900.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/Museo_Sans_900.otf') format('opentype');
    font-weight: 900;
    font-style: normal;

}