@font-face {
    font-family: 'MuseoSlab';
    src: url('MuseoSlab/Museo_Slab.eot?#iefix') format('embedded-opentype'),
         url('MuseoSlab/Museo_Slab.woff') format('woff'),
         url('MuseoSlab/Museo_Slab.otf') format('opentype'),
         url('MuseoSlab/Museo_Slab.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSlab';
    src: url('MuseoSlab/Museo_Slab_100.eot?#iefix') format('embedded-opentype'),
         url('MuseoSlab/Museo_Slab_100.otf') format('opentype');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSlab';
    src: url('MuseoSlab/Museo_Slab_300.eot?#iefix') format('embedded-opentype'),
         url('MuseoSlab/Museo_Slab_300.otf') format('opentype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSlab';
    src: url('MuseoSlab/Museo_Slab_700.eot?#iefix') format('embedded-opentype'),
         url('MuseoSlab/Museo_Slab_700.otf') format('opentype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSlab';
    src: url('MuseoSlab/Museo_Slab_900.eot?#iefix') format('embedded-opentype'),
         url('MuseoSlab/Museo_Slab_900.otf') format('opentype');
    font-weight: 900;
    font-style: normal;

}